@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

* {
  /* border: solid 1px black; */
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

#popup_root {
  min-width: 300px;
}

@font-face {
  font-family: 'digital-clock';
  src: url('../../../fonts/digital-7.ttf');
}

.digital-clock {
  font-family: 'digital-clock';
  font-size: 2rem;
}

.digital-clock > span > span {
  margin: auto -0.15rem;
}
