@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

* {
  /* border: solid 1px black; */
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif !important;
  position: relative;
}

#popup_root {
  min-width: 300px;
}
