* {
  box-sizing: border-box;
  position: relative;
}

:root {
  --main-color: #b8deff;
  --main-dark-color: #54a3e6;
  --main-darker-color: #3589d1;
  --main-light-color: #d3eaff;
  --main-shadow: #70a0ca4f;

  --second-color: #fa8f58;
  --second-dark-color: #ff7a35;
  --second-light-color: #fbb591;
  --second-shadow: #fcc1a3c4;

  --title-color: #616161;
  --text-color: #6f6f6f;

  --form-text-color: #676767;
  --form-prev-color: #9fa0a1;

  --error-color: #ef5350;
  --error-shadow: #fca3a3c4;
}

@font-face {
  font-family: 'digital-clock';
  src: url('../../../fonts/digital-7.ttf');
}

.text-main {
  color: var(--main-dark-color);
}

.text-second {
  color: var(--second-dark-color);
}

.text-error {
  color: var(--error-color);
}

.digital-clock {
  font-family: 'digital-clock';
  font-size: 1.4rem;
}

.digital-clock > span > span {
  margin: auto -0.15rem;
}

/* for loading animation */
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--main-dark-color);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
