h3 {
  color: var(--text-color);
}

#content {
  display: none;
}

#loading {
  margin: auto;
}

#mission_name {
  margin-top: 0;
}

[id^='limitedWebsites'] > span {
  margin-right: 0.3rem;
}

.user_block {
  display: flex;
  margin: 1rem 0;
}

.user_block > img {
  width: 35%;
  margin-right: 1rem;
  align-self: flex-start;
}

.user-info {
  font-size: 90%;
}
.user-info h2 {
  margin: 0;
}
.user-info h3 {
  margin: 0.4rem 0;
}
.user-info p {
  margin: 0;
}

[class^='btn'][class$='info'] {
  float: right;
  border: none;
  background: none;
  color: var(--form-prev-color);
  display: flex;
  align-items: center;
}
[class^='btn'][class$='info'] > span:nth-child(2) {
  font-size: 0.7rem;
}

.collapsible {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.digital-clock {
  margin-bottom: 0.5rem !important;
}
