@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
@import '../../../common.css';

body {
  font-family: 'Noto Sans TC', sans-serif;
}

h1 {
  font-size: 1.35rem;
  color: var(--title-color);
}

h3 {
  color: var(--main-dark-color);
}

p {
  font-size: 0.8775rem;
  line-height: 1.5rem;
  color: var(--text-color);
}

#popup_root {
  display: flex;
  flex-direction: column;
  width: 20rem;
  min-height: 15rem;
  padding: 1rem;
}

.btn {
  border: none;
  border-radius: 36px;
  width: 10rem;
  height: 2.4rem;
}

.btn:hover {
  cursor: pointer;
}

.btn.main {
  background-color: var(--main-dark-color);
  color: rgba(255, 255, 255, 0.8);
}

.btn.cancel {
  background-color: #bdbdbd;
  color: rgba(255, 255, 255, 0.8);
}
