@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

:root {
  --main-color: #54a3e6;
  --title-color: #616161;
  --text-color: #6f6f6f;
}

* {
  /* border: solid 1px black; */
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

@font-face {
  font-family: 'digital-clock';
  src: url('../../../fonts/digital-7.ttf');
}

h1 {
  font-size: 1.35rem;
  color: var(--title-color);
}

h3 {
  color: var(--main-color);
}

p {
  font-size: 0.8775rem;
  line-height: 1.5rem;
  color: var(--text-color);
}

#popup_root {
  width: 20rem;
  padding: 1rem;
}

.btn {
  border: none;
  border-radius: 36px;
  width: 10rem;
  height: 2.4rem;
}

.btn:hover {
  cursor: pointer;
}

.btn.main {
  background-color: var(--main-color);
  color: rgba(255, 255, 255, 0.8);
}

.btn.cancel {
  background-color: #bdbdbd;
  color: rgba(255, 255, 255, 0.8);
}

.digital-clock {
  font-family: 'digital-clock';
  font-size: 2rem;
}

.digital-clock > span > span {
  margin: auto -0.15rem;
}
